:root {
  /* bg-color */
  --bg-dark: hsl(0, 0%, 100%);
  --bg: hsl(0, 0%, 95%);
  --bg-light: hsl(0, 0%, 90%);

  /* model-bg-color */
  --blur-bg: #0a0a0a49;

  /* text-color */
  --text: hsl(0, 0%, 5%);
  --text-muted: hsl(0, 0%, 30%);

  /* btn-color */
  --btn-bg: hsl(0, 0%, 90%);
  --btn-bg-light: hsl(0, 0%, 80%);

  /* shadows */
  --shadow-s:
    inset 0 1px 2px #ffffff30, /* top highlight */ 
    0 1px 2px #00000030, /* dark shadow */ 
    0 2px 4px #00000015; /* soft shadow */
  --shadow-m:
    inset 0 1px 2px #ffffff50, /* top highlight */ 
    0 2px 4px #00000030, /* dark shadow */ 
    0 4px 8px #00000015; /* soft shadow */
  --shadow-l:
    inset 0 1px 2px #ffffff70, /* top highlight */ 
    0 4px 6px #00000030, /* dark shadow */ 
    0 6px 10px #00000015; /* soft shadow */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* bg-color */
    --bg-dark: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 5%);
    --bg-light: hsl(0, 0%, 10%);

    /* model-bg-color */
    --blur-bg: #fdfdfd26;

    /* text-color */
    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);

    /* btn-color */
    --btn-bg: hsl(0, 0%, 10%);
    --btn-bg-light: hsl(0, 0%, 20%);

    /* shadows */
    --shadow-s:
      inset 0 1px 2px #ffffff30, /* top highlight */ 
      0 1px 2px #00000030, /* dark shadow */ 
      0 2px 4px #00000015; /* soft shadow */
    --shadow-m:
      inset 0 1px 2px #ffffff50, /* top highlight */ 
      0 2px 4px #00000030, /* dark shadow */ 
      0 4px 8px #00000015; /* soft shadow */
    --shadow-l:
      inset 0 1px 2px #ffffff70, /* top highlight */ 
      0 4px 6px #00000030, /* dark shadow */ 
      0 6px 10px #00000015; /* soft shadow */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html,
body,
#root {
  height: 100dvh;
  width: 100dvw;
}

html {
  background-color: var(--bg-dark);
}

#root {
  background-color: var(--bg-dark);
  overflow-y: auto;
  scroll-behavior: smooth;
}

.form-model {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  color: var(--text);
  backdrop-filter: blur(4px);
  background-color: var(--blur-bg);
  display: none;
  align-items: center;
  justify-content: center;
}

.form-model.active {
  display: flex;
}

.form-container {
  width: 85%;
  background-color: var(--bg);
  padding: 3rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.note-create-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.note-create-form input {
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--bg-light);
  color: var(--text);
  font-size: 1rem;
  box-shadow: 
    inset 0 1px 2px #00000030, 
    0 1px 2px #ffffff30, 
    0 2px 4px #ffffff15;
}

.create-btn {
  margin-top: 1rem;
  border: none;
  border-radius: 0.4rem;
  padding: 0.8rem;
  font-size: 1rem;
  color: var(--text);
  background-color: var(--btn-bg);
  box-shadow: var(--shadow-s);
}

.remove:active {
  transform: scale(0.95);
  box-shadow: var(--shadow-l);
  background-color: var(--btn-bg-light);
}

.notes {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  grid-gap: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.note {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.7rem;
  text-transform: capitalize;
  background-color: var(--bg);
  color: var(--text);
  padding: 2rem 3rem;
  border-radius: 0.6rem;
  max-width: 20rem;
  box-shadow: var(--shadow-s);
}

.note p {
  color: var(--text-muted);
}

.remove {
  margin-top: 1rem;
  border: none;
  border-radius: 0.4rem;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  color: var(--text);
  background-color: var(--btn-bg);
  box-shadow: var(--shadow-s);
}

.remove:hover {
  box-shadow: var(--shadow-m);
}

.remove:active {
  transform: scale(0.95);
  box-shadow: var(--shadow-l);
  background-color: var(--btn-bg-light);
}

@media (min-width: 650px) {

  .form-model {
    position: relative;
    backdrop-filter: none;
    background-color: none;
    height: auto;
  }

  .form-container {
    width: 100%;
    border-radius: 0%;
    background-color: var(--bg-dark);
    padding: 1.5rem;
  }

  .note-create-form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .note-create-form input {
    width: 100%;
  }

  .notes {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 950px) {
  .notes {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1100px) {
  .notes {
    grid-template-columns: repeat(5, 1fr);
  }
}
